body{
	height:100%;
	width:100%;
	padding:0;
	margin:0;
	background-color: rgb(232, 233, 236);
}

.dbtn{
	background-color:rgb(21, 153, 87);
	color:white;
	border:1px solid black;
	width:80px;
	height:35px;
	
	font-size:16px;
}

.dbtn:hover{
	background-color:rgb(21, 205, 87);
}

.radioBox input[type="radio"] {
    display:none;
}

.radioBox label {
    display:inline-block;
    background-color:rgb(66,94,151);
	color:white;
	
	border:1px solid black;
    padding:4px 11px;
    font-family:Arial;
    font-size:16px;
	
}

.radioBox input[type="radio"]:checked + label {
    background-color:rgb(139,161,235);
	box-shadow:0 0 3px rgb(139,161,235);
	border:white;
}

.radioBox{
	height:20px;
	width:280px;

	position:absolute;
	left:50%;
	top:440px;
	font-size:18px;
	margin:25px;
	margin-left:-140px;
}

#start{
	position:absolute;
	top:520px;
	left:50%;
	margin-left:-40px;
}

#new{
	position:absolute;
	top:25px;
	left:50%;
	margin:25px;
	margin-left:-40px;
	
	display : none;
}

#input{
	scrollbar-highlight-color: #fff;
	
	margin-left:5%;
	margin-top:25px;
	width:90%;
	height:400px;
	top:25px;
}

#wordBox{
	width:auto;
	height:auto;
	position:absolute;
	top:50%;
	left:50%;
	
}

#word{
	text-align:center;
	font-family: "Comic Sans MS", cursive , sans-serif;
}

