body{
	height:100%;
	width:100%;
	padding:0;
	margin:0;
	background-color: rgb(232, 233, 236);
}

.dbtn{
	background-color:rgb(21, 153, 87);
	color:white;
	border:1px solid black;
	width:80px;
	height:35px;
	
	font-size:16px;
}

.dbtn:hover{
	background-color:rgb(21, 205, 87);
}

#settingBox{

	position:absolute;
	left:50%;
	top:440px;
	font-size:18px;
	margin:25px;
	margin-left:-140px;
}

#infoBox{

	position:absolute;
	left:50%;
	top:490px;
	font-size:16px;
	margin:25px;
	width: 400px;
	margin-left:-200px;
}

#input_wpm{
	text-align: right; 
	width: 39px;
}

#start{
	margin-left:40px;
}

#new{
	position:absolute;
	top:25px;
	left:50%;
	margin:25px;
	margin-left:-40px;
	
	display : none;
}

label{
	color:black;
}

#input_text{
	scrollbar-highlight-color: #fff;
	
	margin-left:5%;
	margin-top:25px;
	width:90%;
	height:400px;
	top:25px;
}

#wordBox{
	width:auto;
	height:auto;
	position:absolute;
	top:50%;
	left:50%;
	outline: none;
}

#word{
	text-align:center;
	font-family: 'Roboto', sans-serif;
}

